.grid-container{
    display: grid;
    grid-template-columns: 3fr 1.5fr 3fr;
    grid-template-rows: repeat(4,1fr);
    height: 100%;
    color: white;
    font-family:'Raleway',sans-serif; 
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 800;
    background: linear-gradient(-45deg,#00b8ff ,#009bd6,#00719c);
	background-size: 400% 400%;
	animation: gradient 7s ease infinite;
}

.box1 {
    position: relative;
    grid-row: 1/ 4;
    text-align: center;
}

.box2 {
    position: relative;
    grid-column: 2/3;
    grid-row: 1/5;


}
.box4 {
    grid-row: 4/5;
    grid-column: 1/2;
    display: flex;
    padding: 15px;
    

}
.box3 {
    position: relative;
    grid-column: 3/4;
    grid-row: 1/5;
}

.box1 > div.inputoutputSrc{
    position: relative;
    margin-top: 5%;
    border: 5px solid #33539E;
    height: 600px;
    width: 100%;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);border:4px solid #00b8ff;
}

.inputoutputSrc img{
    width: 100%;
    object-fit: contain;
    height: 100%;
}

.box2 > div:nth-child(1){
    position: relative;
    top:10%;
    left:5%;
    font-size: 22px;
}
.box2 > div:nth-child(2){
    position: relative;
    top:35%;
    left:30%;
}
.box2 > div:nth-child(3){
    position: relative;
    top:55%;
    left:7%;
    font-size: 22px;
}

.selected {
    flex-shrink: 0;
	height: calc(150px + 6vw);
	width: calc(150px + 6vw);
	border: calc(8px + 0.2vw) solid transparent;
	background-origin: border-box;
	background-clip: content-box, border-box;
	background-size: cover;
	box-sizing: border-box;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);border:4px solid #00b8ff; 
}



.imgBoxSelection{
    position: relative;
    width: 100%;
    object-fit: contain;
    height: 33%;
}
.resultHeader{
    background-color: red;
    font-size: 30px;
}

.myButton {
	box-shadow: 0px 0px 0px 0px #9fe88b;
	background-color:#33539E;
	border-radius:8px;
	border:1px solid #009bd6;
	display:inline-block;
	cursor:pointer;
	color: white;
	font-family:Trebuchet MS;
	font-size:22px;
	font-weight:bold;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.hidden {
    visibility: hidden;
}

.myButton:active {
	position:relative;
	top:1px;
}

#blurButton{
    margin-left: 130px;
 
}

#saveButton{
   margin-left: 130px;
}

#selectText{
    margin-top: 20px;
}

.headshot {
	flex-shrink: 0;
	height: calc(150px + 6vw);
	width: calc(150px + 6vw);
	border: calc(8px + 0.2vw) solid transparent;
	background-origin: border-box;
	background-clip: content-box, border-box;
	background-size: cover;
	box-sizing: border-box;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}

input[type=text] {
  border: 2px solid #33539E;
  border-radius: 4px;
}

.custom-dropdown select {
  background-color: #33539E;
  color: #fff;
  font-size: inherit;
  padding: .5em;
  border: 0;
  font-family:Trebuchet MS;
  font-size:20px;
  font-weight:bold;  
  text-align: center;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}



@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



